<div class='container'>
  <form action='' method='' class='form user-form'>
    <h1>Edit User</h1>
    <div class='form-control'>
      <label for='email'>Email</label>
      <input type='text' id='email' name='email' />
    </div>
    <div class='form-control'>
      <label for='password'>Password</label>
      <input type='password' id='password' name='password' />
    </div>
    <div class='form-control'>
      <label for='profile'>Profile</label>
      <select name='profile' id='profile'>
        <option value='admin'>Admin</option>
        <option value='customer'>Customer</option>
        <option value='trucker'>Trucker</option>
      </select>
    </div>
  </form>
</div>