<div class='container'>
  <form action='' method='' class='form product-form'>
    <h1>Edit Product</h1>
    <div class='form-control'>
      <label for='sku'>SKU</label>
      <input type='text' id='sku' name='sku' />
    </div>
    <div class='form-control'>
      <label for='name'>Name</label>
      <input type='text' id='name' name='name' />
    </div>
    <div class='form-control'>
      <label for='description'>Description</label>
      <textarea name='description' id='description'></textarea>
    </div>
  </form>
</div>